body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff7f8;
    color: #3b0b0b;
}

.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section div {
    flex: 1;
}

.f-s-div {
    /* padding: 0 0.8rem 0 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}



.s-s-div {
    /* padding: 0 1rem 0 0.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section img {
    max-width: 100%;
    height: auto;
}

.f-s-div img {
    max-width: 100%;
    height: auto;
}

.main-image-container {
    padding: 5rem 1rem 1rem 1rem;
}

.image-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.image1-cintainer {
    background-size: cover;
    height: 40rem;
    width: 30%;
    position: relative;
    text-align: center;
}

.for-image1 {
    background-image: url(../public/new_images/img_3-Photoroom.png);
    background-size: cover;
    height: 90%;
}

.for-image2 {
    background-image: url(../public/new_images/img_4-Photoroom.png);
    background-size: cover;
    height: 90%;
}

.image1-cintainer p {
    position: inherit;
    font-size: 18px;
}

.section2 {
    position: relative;
    margin: 10rem 0 15rem 0;
    height: auto;
    min-height: 100%;
}

.insta {
    height: 10rem;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
}

.insta a {
    text-decoration: none;
    color: #3b0b0b;
    margin-left: .5rem;
}

.prime {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    width: 18%;
    height: 90%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.image-container:hover .overlay {
    opacity: 1;
    visibility: visible;
}