.header {
    /* background-image: url('../../public/images/banner-1571858_1280.jpg'); */
    color: #230c0c;
    background-color: #fff7f8;
    color: #3b0b0b;  
    background-size: cover;
    border: none;
    /* border-radius: .5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 2rem 2rem 2rem 2rem ; */
    width: 99vw;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 4rem;
    margin-right: 0 auto;
}

.header-divs {
    display: flex;
    justify-content: center;
    padding: .5rem 0 0 0;
    margin: 0 1rem 0 1rem;
    flex: 1;
}



.header-divs ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header-divs ul li {
    padding: 0 .5rem 0 .5rem;
    vertical-align: baseline;
}