section {

}
.login-main-div {
    display: flex;
    height: 90vh;
    width: 80%;
    background-image: url('../../public/new_images/login-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    height: 80%;
    width: 80%;
    padding-inline: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.first-part {
    height: 100%;
    width: 50%;
}

.second-part {
    height: 100%;
    width: 50%;
}